@model Garage2._0.Models.PSlot

@{
    ViewBag.Title = "Details PSlots";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.TypeOfVehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.TypeOfVehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingSlot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingSlot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleRegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleRegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiresOnVehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiresOnVehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartParking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartParking)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
