@model Garage2._0.Models.PSlot

@{
    ViewBag.Title = "Unpark";
}

<h2>@ViewBag.Title</h2>

<div class="visible-print">Receipt for parking in Garage 2.0.</div>
<br />
<div class="visible-print">Hope you enjoyed our services and soon will return again</div>


<h3 class=" hidden-print">Are you sure you want to unpark this vehicle?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.TypeOfVehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.TypeOfVehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingSlot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingSlot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleRegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleRegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiresOnVehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiresOnVehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartParking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartParking)
        </dd>

        <dt>
            Time in PSlots
        </dt>

        <dd>
            @ViewBag.timeInPSlots hours
        </dd>
        <dt>
            Current pricing model
        </dt>

        <dd>
            @ViewBag.currentPricingModel
        </dd>
        <dt>
            Current cost
        </dt>

        <dd>
            @ViewBag.currentCost SEK
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color hidden-print">
            <input type="submit" value="Unpark" class="btn btn-primary" />
            <input type="button" value="Print Form" onclick="window.print()" class="btn btn-danger" />

            @Html.ActionLink("Back to List", "Index")
        </div>

        <div class="visible-print">
            <br />
            <br />
            Your pre-registered credit card will be charged with @ViewBag.currentCost SEK when pressing UNPARK
        </div>

        <text>LÄGG TILL NAMNET PÅ PARKERAREN</text>


    }
</div>
